- @videos.each do |video|
  %article.video
    .container
      .row
        .video_large_cover.col-sm-7.col-sm-offset-1
          %img(src="#{video.cover_image}")
        .video_info.col-sm-3
          %header
            %h3 =video.title
            %span Rating: ="#{video.review.rating}/5.0"
          %p video.summary
          .actions
            = link_to "Watch Now", video.show, class: "btn btn-primary"
            = link_to "My Queue", current_user.queue, class: "btn btn-default"

  %section.reviews.container
    .row
      .col-sm-10.col-sm-offset-1
        = form_for @review, '/review' do |f|
          %fieldset
            = f.label "Rate this video", class: "form-group"
              .row
                .col-sm-3
                  = f.select @video.review.new, :rating, [["5 Stars", 5], ["4 Stars", 4],["3 Stars", 3], ["2 Stars", 2], ["1 Star", 1]], class: "form-control"
            .form-group
              = f.label "Write Review"
              .row
                .col-sm-8
                  = f.textarea, class: "form-control"
          %fieldset.form-group.actions.clearfix
            = f.input, type: "submit", value: "Submit", class:"btn"
            = link_to "Cancel", '#'
        %header
          %h3 User Reviews (="#{video.ratings.count})"
        %ul
          - video.reviews.each do |review|
            %article.review
              %li.row
                .col-sm-2
                  %span Rating: ="#{review.rating} / 5"
                  %p by =link_to "#{review.user.name}", review.user
                .col-sm-8
                  %p =review.review_summary
